body {
    background-color: #ededed;
}

.navbar-brand {
    margin-left: 1%;
}

.navbar {
    margin-bottom: 2%;
}

.nav {
    margin-bottom: 2%;
}

#navbarSupportedContent li {
    margin-left: 2em;
}

#mainButtons {
    margin-bottom: 2%;
}

#inspectionInquiryModal .modal-body div {
    margin: 2px;
}

#houseTypeIcon {
    width: 1em;
}

#latestEarthquakeIframe {
    height: 500px;
}

.footer-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

/* Home check component */
#homeCheck .main-row {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#homeCheck #introHeader {
    margin-top: 30px;
    margin-bottom: 40px;
}

#homeCheck #introHeader h2{
    margin-bottom: 10px;
    /* color: gray; */
}

#homeCheck .card{
    background-color: #e7e7e8;
}

#homeCheck #stats-section .card{
    min-height: 120px;
}

#homeCheck #introHeader h6{
   color: darkgray;
}

#homeCheck #homeTab {
    text-align: center;
}

#homeCheck #homeTab .card-row {
    margin: 20px 0;
}

#homeCheck .card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}

#homeCheck #inspection-offer-div {
    margin-top: 30px;
}

#homeCheck #inspection-offer-div h6{
    color: grey;
}

#homeCheck #inspection-offer-div p{
    color: darkgray;
}

#homeCheck #partnersCard img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

#homeCheck #homeCheckForm .form-error {
    color: red;
    display: none;
}